<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryd.gyy.guolinstudy">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 9.0之后申请前台服务需要静态注册权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 接收开机广播 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 测试权限用到的相机和录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 打电话权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Util.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <!-- android:name必须填写这个，value是API Key（百度） -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0ntqYn8yFYNhOYwnXKzzXOEvyewNhcup" /> <!-- 使用百度定位的SDK必须要添加的 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/toolbar_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>

                <!-- 这两行配置成桌面应用 -->
                <!--                <category android:name="android.intent.category.DEFAULT" />-->
                <!--                <category android:name="android.intent.category.HOME" />-->

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.LocationActivity" />
        <activity android:name=".Activity.DownLoadActivity" />
        <activity android:name=".Activity.NotificationTest" />
        <!-- <activity android:name=".Thread.ThreadStudy" /> -->
        <!-- 修改标题栏上显示的文字(这样就可以和app的名称不一样)：android:label="@string/toolbar_name" -->
        <!-- 内容管理者必须要注册:创建完之后共享给别人调用 -->
        <provider
            android:name=".Util.MyContentProvider"
            android:authorities="com.ryd.gyy.guolinstudy"
            android:enabled="true"
            android:exported="true" /> <!-- androidx以下使用：android:name="android.support.v4.content.FileProvider" -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ryd.gyy.guolinstudy.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 内容管理器共享拍照得到的图片 -->
        <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0ntqYn8yFYNhOYwnXKzzXOEvyewNhcup" /> <!-- android:name必须填写这个，value是API Key -->
        <activity android:name=".Activity.NotificationActivity" />
        <activity android:name=".Activity.PermissionsActivity" />
        <activity android:name=".Activity.DataSaveActivity" />
        <activity android:name=".Activity.GlideActivity" />
        <activity android:name=".Activity.MyActivity" />
        <activity android:name=".Activity.BaseActivity" />
        <activity android:name=".Activity.PerContactsActivity" />
        <activity android:name=".Activity.SendbrocastActivity" />
        <activity android:name=".Activity.DisplayCutoutActivity" />
        <!-- <activity android:name=".Activity.MaterialActivity" /> -->
        <!-- <activity android:name=".Activity.MainActivity" /> -->
        <activity android:name=".Activity.FruitActivity" />
        <activity android:name=".Thread.AsyncTaskStudy" /> <!-- <activity android:name=".Activity.DownLoadActivity" /> -->
        <service
            android:name=".Service.DownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" /> <!-- 使用百度定位的SDK必须要添加的 -->
        <receiver
            android:name=".Broadcast.BootUpReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Broadcast.CustomizeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.gyy.broadcast.customize" />
            </intent-filter>
        </receiver>
    </application>

</manifest>